.block {
  &List {
    padding: 0;
    list-style: none;
    text-align: center;
  }
  &Link{
    text-decoration: none;
    li{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        margin-right: 10px;
        // width: 100%;
      }
    }
  }
  &Logo{
    flex-direction: column;
    width: 100px;
    height: 100px;
  }
}
